@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* Your default theme */
  --background-color: white;
  --foreground-color: black;
  --accent: rgb(56, 189, 248);
}

.dark {
  /* Your dark theme */
  --background-color: --dark-accent;
  --foreground-color: white;
  --accent: rgb(56, 189, 248);
}

.dark body {
  @apply bg-gradient-to-t from-sky-900 to-dark;
}
body{
  @apply bg-neutral-200;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(56, 189, 248, 0.7) rgb(15, 23, 42);
}

html {
  text-rendering: optimizeLegibility;
  font-smooth: auto;
  height: auto;
  min-height: 100%;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: var(--accent);
}

::selection {
  color: white;
  background: var(--accent);
}

h2 {
  @apply text-2xl font-bold;
}