@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* Your default theme */
  --background-color: white;
  --foreground-color: black;
}

.dark {
  /* Your dark theme */
  --background-color: --dark-accent;
  --foreground-color: white;
}

.dark body {
  @apply bg-gradient-to-t from-sky-900 to-dark;
}
body{
  @apply bg-gradient-to-t from-sky-200 to-zinc-300;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(56, 189, 248, 0.7) rgb(15, 23, 42);
;
}

html {
  text-rendering: optimizeLegibility;
  font-smooth: auto;
  height: auto;
  min-height: 100%;
}