.leaflet-container {
  width: 100wh;
  height: calc(100vh - 5.5em);
  z-index: 1;
  @apply bg-gradient-to-t from-sky-900 to-dark;
}

.leaflet-control-zoom {
  @apply scale-110 !important;
  margin: 0 27px 27px 0 !important;
  @apply border border-accent !important;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  @apply bg-dark !important;
  border: none !important;
  @apply hover:bg-sky-600 !important;
}

.leaflet-control-zoom-in > span,
.leaflet-control-zoom-out > span {
  color: white !important;
}

.leaflet-disabled {
  @apply hover:bg-dark !important;
}

.leaflet-disabled > span {
  color: gray !important;
}

.leaflet-grab {
  cursor: auto;
}

.leaflet-dragging .leaflet-grab {
  cursor: move;
}

.popup > a, .tooltip > a {
  color: var(--color-accent);
}

.popup * a:hover, .tooltip * a:hover {
  text-decoration: underline;
}

.tooltip,
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  @apply bg-dark;
  @apply text-white;
  @apply border border-accent;
  @apply opacity-95;
}

.leaflet-popup-content-wrapper {
  @apply bg-dark;
  @apply text-white;
}

.leaflet-popup-close-button {
  @apply mt-2 mr-3;
  @apply text-white !important;
  @apply hover:text-accent !important;
  @apply opacity-95 !important;
  @apply text-2xl !important;
}

.leaflet-tooltip-left::before {
  @apply border-l-accent;
}
.leaflet-tooltip-right::before {
  @apply border-r-accent;
}

.leaflet-popup-content {
  @apply m-0;
}

.popup-card{
  min-width: 350px;
}

.label-icon {
  cursor: default;
}

.marker-icon:hover {
  z-index: 4000 !important;
}

.hud-btn {
  z-index: 5;
}

.report-problem-btn {
  position: absolute;
  right: 24px;
  bottom: 110px;
}